[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
"uvicorn[standard]" = "*"
pydantic-settings = "*"
scikit-learn = "*"
scikit-multilearn = "*"
numpy = "*"
joblib = "*"
lightgbm = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.12"
